.loginFormFields {
    width: 328px;
    min-width: 280px;
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.PreAuthLoginActions {
    margin-bottom: 24px;    
}

.PreAuthLoginActions > .forgotPassword {
    float: right;
}