.PostAuthContainer {
    position: relative;
}

.PostAuthContainer > .PageContent {
    width: 100%;
    position: relative;
    padding-block-start: 0;
    padding-block-end: 32px;
    padding-inline: 40px;
}